<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fast.canteen.mapper.TipMapper">

    <resultMap type="Tip" id="TipResult">
        <result property="tipId"    column="tip_id"    />
        <result property="content"    column="content"    />
        <result property="sort"    column="sort"    />
    </resultMap>

    <select id="selectTipList" parameterType="Tip" resultMap="TipResult">
        select tip_id, content, sort from tip
        order by sort
    </select>

    <select id="selectTipByTipId" parameterType="String" resultMap="TipResult">
select tip_id, content, sort from tip
        where tip_id = #{tipId}
    </select>

    <insert id="insertTip" parameterType="Tip">
        insert into tip
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tipId != null">tip_id,</if>
            <if test="content != null and content != ''">content,</if>
            <if test="sort != null">sort,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="tipId != null">#{tipId},</if>
            <if test="content != null and content != ''">#{content},</if>
            <if test="sort != null">#{sort},</if>
         </trim>
    </insert>

    <update id="updateTip" parameterType="Tip">
        update tip
        <trim prefix="SET" suffixOverrides=",">
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="sort != null">sort = #{sort},</if>
        </trim>
        where tip_id = #{tipId}
    </update>

    <delete id="deleteTipByTipId" parameterType="String">
        delete from tip where tip_id = #{tipId}
    </delete>

    <delete id="deleteTipByTipIds" parameterType="String">
        delete from tip where tip_id in
        <foreach item="tipId" collection="array" open="(" separator="," close=")">
            #{tipId}
        </foreach>
    </delete>
</mapper>
